<div class="text-banner">
      <p>{{ section.settings.text_banner_heading }}</p>      
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Heading",
        "default": "The Gift Guide"
      },
      {
        "type": "text",
        "id": "banner_subheading",
        "label": "Banner Subheading",
        "default": "Discover Joy: Your Ultimate Holiday Gift Destination. <br>Explore our curated selection and find the perfect gifts to<br>delight your loved ones this holiday season."
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SHOP NOW"
      }
    ]
  }
  
{% endschema %}