<div class="text-banner">
      <p>{{ section.settings.text_banner_heading }}</p>      
</div>

<style>
  
</style>


{% schema %}
  {
    "name": "Text Announcement Banner",
    "settings": [
      {
        "type": "text",
        "id": "text_banner_heading",
        "label": "Announcement Banner Heading",
        "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
      },
    ]
  }
  
{% endschema %}